body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #303030;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #7eb252;
}

.main-header-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-header-phone-column {
  margin-left: auto;
  padding-top: 30px;

  text-align: right;
}

.main-header-logo {
  width: 200px;
  margin-right: 30px;
  padding-top: 35px;
  padding-bottom: 15px;
}

.main-header-delivery {
  width: 400px;
  margin: 0;
  padding-top: 45px;

  font-size: 16px;
  line-height: 20px;
  color: #9a9a9a;
}

.phone {
  display: flex;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #303030;
  text-decoration: none;
}

.phone::before {
  content: "";

  width: 15px;
  height: 15px;

  background-image: url("img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.phone-text {
  margin: 0;

  font-size: 12px;
  line-height: 28px;
  color: #9a9a9a;
}

.promo {
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo-wrapper {
  display: flex;
}

.promo-img-column {
  width: 570px;
  margin-right: 30px;
  padding-top: 95px;
}

.promo-text {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.promo-text-uppercase {
  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
  text-transform: uppercase;
}

.promo-text-big {
  font-weight: 600;
  font-size: 60px;
}

.statistics {
  padding-top: 85px;
  padding-bottom: 150px;
}

.statistics-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}

.statistics-item {
  width: 270px;
  margin-right: 15px;

  color: #000000;
}

.item-indicator {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #a4c58c;
}

.symptoms {
  padding-bottom: 90px;
}

.symptoms-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #303030;
}

.symptoms-wrapper {
  display: flex;
}

.symptoms-list-column {
  width: 670px;
}

.symptoms-img-column {
  width: 500px;
}

.success-secret {
  padding-bottom: 150px;
}

.success-secret-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #303030;
}

.success-secret-wrapper {
  display: flex;
}

.success-secret-img-column {
  width: 600px;

  background-image: url("img/bg-cup.jpg");
  background-repeat: no-repeat;
  background-position: top right;
}

.success-secret-list-column {
  width: 500px;
}

.success-secret-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.success-secret-text {
  background-color: #ffffff;
}

.set {
  padding-bottom: 150px;
}

.set-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.set-title {
  width: 440px;
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #303030;
}

.set-item {
  display: flex;
  justify-content: center;
  width: 370px;
  margin-right: 15px;
}

.ingredients-wrapper {
  display: flex;
  justify-content: flex-start;
}

.ingredients-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #303030;
}

.ingredients-img-column {
  width: 570px;
  margin-right: 30px;
}

.ingredients-description-column {
  width: 570px;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -30px;
  padding: 0;

  list-style: none;
}

.ingredients-item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: #f6f9f3;
}

.ingredients-description {
  margin: 0;
  padding: 0;

  list-style: none;
}

.warranty-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #303030;
}

.warranty-wrapper {
  display: flex;
}

.warranty-text-column {
  width: 670px;
  margin-right: 15px;
}

.warranty-img-column {
  width: 485px;
}

.main-footer-wrapper {
  display: flex;
  align-items: flex-start;
}

.main-footer-logo {
  margin-right: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-footer-phone-column {
  margin-left: auto;
  padding-top: 20px;

  text-align: right;
}

.main-footer-links {
  display: flex;
  flex-wrap: wrap;
  width: 645px;
  margin: 0;
  padding: 0;
  padding-top: 25px;

  list-style: none;
}

.main-footer-links-item {
  margin-right: 60px;
}

.main-footer-links-item:last-child {
  margin-right: 0;
}

.main-footer-link {
  font-size: 12px;
  line-height: 16px;
  color: #9a9a9a;
}
